{% extends 'app_tienda/base.html' %}

{% block contenido %}
    <h1>Nuestra historia</h1>
    
    {% csrf_token %}
    <p>
        Girona conjuga el máximo nivel de calidad italiana con la cercanía de un producto adaptado al paladar argentino.

        Girona una empresa joven, con socios de más de 50 años con experiencia en la industria del café. Somos expertos en café de calidad, obtenemos una selección de los finos granos de café arábigos de orígenes Brasileños, Colombianos, Centroamericanos y Caribeños para elaborar las Cápsulas de café Girona, un café que nos gusta a todos.

        Utilizamos las mejores materias primas a nivel mundial y es tostado, molido y envasado en Argentina, en cápsulas de aluminio de última generación para preservar la riqueza de su aroma y sabor.

        Girona fue creado bajo la tutela de los más experimentados y capacitados "esperti del cafè" italianos y cuenta con la venia de los mejores baristas argentinos que avalan la calidad del café.
    </p>
       
    
{% endblock %}